.nav-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    margin: 20px;

    
}

.left-nav {
    display: flex;
    gap: 10px;
}

.right-nav {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: gray;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.letters {
    font-size: 100px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}
.yellow {
    color: #F4B400
}

.green {
    color: #0F9D58;
}
.search-container {
    display: flex;
    justify-content: center;
    /* border: solid ; */
    /* gap: 10px; */
    
}

.search-container .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.search-container .box {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 60vw;
    border-radius: 50px;
    border: solid lightgrey 2px;
    flex: 1;
}

.box img {
    /* border: solid 2px; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

.box input {
    flex: 2;
    border: none;
}
.buttons input {
    border: none;
    height: 30px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
}


footer {
   color: lightgray; 
   font-family: 'Poppins', sans-serif;
   margin-top: 150px;
   text-align: center;
   font-size: 15px;
}
